<div class='button-border butt'>
  <div class='button-base'>
    <button class='button'>Move</button>
  </div>
</div>

<style>
  .button-border {
    border: 0.52vmax solid #ffae70;
    outline: 0.26vmax solid #52333f;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5vmax;
    z-index: 50;
    zoom: 0.6;
  }

  .button-base {
    background-color: #75221c;
    outline: 0.13vmax solid black;
    position: relative;
  }

  .button {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.08vmax;
    outline: 0.13vmax solid black;
    border: 0.26vmax solid;

    border-left-color: #e7b8b4;
    border-top-color: #f8c9c5;
    border-bottom-color: #4e1814;
    border-right-color: #79241e;
    background-color: #e64539;
    cursor: pointer;
    color: #ffee83;
    padding: 1.3vmax 1.95vmax;

    transform: translateY(-20%);
  }
  .button:hover {
    transform: translateY(-10%);
  }
  .button:active {
    transform: translateY(0);
  }
</style>
